* {
    box-sizing: border-box;
}

body {
    font-family: Impact, sans-serif;
    margin: 10px;
    padding: 3px;
    background-color: #2c974b;
}

.card {
    display: block;
    background-color: #000000;
    border-radius: 10px;
    color: #ffffff;
    border-style: double;
    margin: 0 auto;
    max-width: 600px;
    padding: 26px;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin: 10px;
    color: #ffffff;
}

p {
    font-size: 24px;
    margin: 10px;
    color: #ffffff;
}