* {
    box-sizing: border-box;
}

body {
    font-family: Impact, sans-serif;
    margin: 10px;
    padding: 3px;
    background-color: #2c974b;
}

.card {
    display: block;
    background-color: #000000;
    border-radius: 10px;
    color: #ffffff;
    border: 4px double #000000;
    margin: 40px auto;
    max-width: 600px;
    padding: 26px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

h1 {
    font-size: 48px;
    margin: 10px;
    color: #ffffff;
}

p {
    font-size: 24px;
    margin: 10px;
    color: #ffffff;
}