* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    margin: 0;
}

body {
    font-family: "Georgia", serif;
    font-weight: bold;
    color: rgb(255, 128, 37);
    background-color: rgb(16, 68, 5);
    line-height: 2;
    display: flex;
  flex-direction: column;   
    align-items: center; 
    padding: 32px 0;
}

main {
    max-width: 1200px;
    width: 90%;
    padding: 32px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.1);
}
.top-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.top-nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
    padding: 12px 24px;
    background-color: #1f345a;; 
    border: 3px solid #00e1ff; 
    border-radius: 12px;
}

.top-nav li {
    margin: 0;
}

.top-nav a {
    text-decoration: none;
    font-family: "Georgia", serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 128, 37); 
    transition: color 0.2s ease, transform 0.2s ease;
}


.top-nav a:hover {
    color: #a6f9a0; 
    transform: scale(1.08);
}

h1 {
    font-weight: normal;
    font-size: 48px;
    line-height: 1em;
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
}

main > p {
    margin-bottom: 32px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.collection-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.collection-grid a {
    flex: 1 1 calc(45% - 24px);
    display: block;
    text-decoration: none;
    color: inherit;
}

.collection-card {
    border: 4px solid #00e1ff;
    background-color: #1f345a;
    color: #f5f5f5;
    padding: 24px;
    border-radius: 12px;
}

.collection-card img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
}

.collection-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.2;
    color: rgb(255, 128, 37);
}

.collection-card .details {
    font-size: 14px;
    color: #41f534;
    margin-bottom: 16px;
    font-style: italic;
}

.collection-card .description {
    font-size: 16px;
    margin-bottom: 0;
    color: rgb(255, 128, 37);
}

@media (width >= 480px) {
    .collection-grid a {
        flex: 1 1 calc(45% - 24px);
    }
}

@media (width >= 1025px) {
    .collection-grid a {
        flex: 1 1 calc(30% - 24px);
    }
}